.card {
  width: 343px;
  height: 152px;
  display: flex;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.card-image {
  width: 120px;
  height: 120px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

.card-details {
  padding: 12px;
}

.brand {
  font-size: 12px;
  color: #696969;
  font-weight: bold;
  padding-bottom: 8px;
}

.title {
  font-size: 14px;
  color: #333;
  font-weight: bold;
  padding-bottom: 6px;
}

.price {
  font-size: 20px;
  text-align: left;
}

.new-price {
  color: #bf0000;
  margin: 8px 0;
  font-weight: bold;
}

.new-label {
  color: #bf0000;
  font-weight: bold;
  font-size: small;
}

.used-price {
  color: #333;
  font-size: 15px;
  font-weight: bold;
}

.used-label {
  color: #333;
  font-size: 15px;
  font-weight: 550;
}

.brand,
.title,
.price .used-price,
.new-price,
.new-label .used-label {
  text-align: left;
}

@media screen and (max-width: 600px) {
  .card {
    width: 100%;
    height: auto;
    flex-direction: column;
  }

  .card-image {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
  }
}
